@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --heading-color: #23689b;
    --paragraph-color: #707070;
    --footer-color: #f7f6e7;
}
body{
    font-family: 'Poppins', sans-serif;
    /* overflow: hidden; */
    overflow-x: hidden;
}

ul{
    list-style: none;
}

a, ul li a{
    text-decoration: none;
}

div .heading-styling{
    text-align: center;
    font-size: 48px;
    color: var(--heading-color);
}


/* Heading Style */

h2 span{
    position: relative;
}
h2 span:before,
h2 span:after{
    content: '';
    position: absolute;
    height: 5px;
    border-bottom: 1px solid #F5A93F;
    border-top: 1px solid #F5A93F;
    top: 40%;
    width: 300px;

}

h2 span:before{
    right: 100%;
    margin-right: 15px;
}

h2 span:after{
  left: 100%;
  margin-left: 15px;
}
/* 
.heading-styling{
    position: relative;
    max-width: 800px ;
    margin: 0 auto;
  
} */

/* .heading-styling::before{
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 25%;
    height: 3px;
    background-color: #F5A93F;
}

.heading-styling::after{
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 25%;
    height: 3px;
    background-color: #F5A93F;
} */


ul{
    list-style: none;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    top: 0px;
    background-color: #60b4df;
    width: 100%;
    z-index: 1000;
}


.container{
    max-width: 65rem;
    padding: 0 2rem;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.logo-container{
    flex: 1;
    display: flex;
}

.nav-btn{
    flex: 3;
    display: flex;

}

.nav-links{
    flex: 2;
}
/* 
.log-sign{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
} */

.logo{
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 3rem;
}

.logo span{
    font-weight: 300;
}

/* .btn{
    display: inline-block;
    padding: .5rem 1.3rem;
    font-size: .8rem;
    border: 2px solid #fff;
    border-radius: 2rem;
    line-height: 1;
    margin: 0 .2rem;
    transition: .3s;
    text-transform: uppercase;
} */

/* .btn.solid, .btn.transparent:hover{
    background-color: #fff;
    color: #69bde7;
}

.btn.transparent, .btn.solid:hover{
    background-color: transparent;
    color: #fff;
} */

.nav-links > ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-link{
    position: relative;
}

.nav-link > a{
    line-height: 3rem;
    color: #fff;
    padding: 0 .8rem;
    padding-top: 0.5rem;
    letter-spacing: 1px;
    font-size: .95rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: .5s;
}

.nav-link > a > i{
    margin-left: .2rem;
}

.nav-link:hover > a{
    transform: scale(1.1);
}

.dropdown{
    position: absolute;
    top: 100%;
    left: 0;
    width: 10rem;
    transform: translateY(10px);
    opacity: 0;
    pointer-events: none;
    transition: .5s;
}

.dropdown ul{
    position: relative;
}

.dropdown-link > a{
    display: flex;
    background-color: #fff;
    color: #3498db;
    padding: .5rem 1rem;
    font-size: .9rem;
    align-items: center;
    justify-content: space-between;
    transition: .3s;
}

.dropdown-link:hover > a{
    background-color: #3498db;
    color: #fff;
}

.dropdown-link:not(:nth-last-child(2)){
    border-bottom: 1px solid #efefef;
}

.dropdown-link i{
    transform: rotate(-90deg);
}

.arrow{
    position: absolute;
    width: 11px;
    height: 11px;
    top: -5.5px;
    left: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    cursor: pointer;
    transition: .3s;
    z-index: -1;
}

.dropdown-link:first-child:hover ~ .arrow{
    background-color: #3498db;
}

.dropdown-link{
    position: relative;
}

.dropdown.second{
    top: 0;
    left: 100%;
    padding-left: .8rem;
    cursor: pointer;
    transform: translateX(10px);
}

.dropdown.second .arrow{
    top: 10px;
    left: -5.5px;
}

.nav-link:hover > .dropdown,
.dropdown-link:hover > .dropdown{
    transform: translate(0, 0);
    opacity: 1;
    pointer-events: auto;
}

.hamburger-menu-container{
    flex: 1;
    display: none;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu{
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hamburger-menu div{
    width: 1.6rem;
    height: 3px;
    border-radius: 3px;
    background-color: #fff;
    position: relative;
    z-index: 1001;
    transition: .5s;
}

.hamburger-menu div:before,
.hamburger-menu div:after{
    content: '';
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: #fff;
    border-radius: 3px;
    transition: .5s;
}

.hamburger-menu div:before{
    transform: translateY(-7px);
}

.hamburger-menu div:after{
    transform: translateY(7px);
}

#check{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    width: 2.5rem;
    height: 2.5rem;
    z-index: 90000;
    cursor: pointer;
    opacity: 0;
    display: none;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div{
    background-color: transparent;
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:before{
    transform: translateY(0) rotate(-45deg);
}

#check:checked ~ .hamburger-menu-container .hamburger-menu div:after{
    transform: translateY(0) rotate(45deg);
}

@keyframes animation{
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


/* Start Carousel */
.carsouel_container{
    max-width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .carousel_main {
    /*
    height: 100%; */
    display: flex;
     /* width: 900px; */
    height: 580px;
    /* max-width: 1200px; */
    width: 100%;
    /* overflow: hidden; */
    position: relative;
  }
  
  .carousel__item {
  visibility:visible;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
      -webkit-align-items: center;
    -webkit-justify-content: flex-end;
    position: relative;
    background-color: #fff;
    flex-shrink: 0;
   -webkit-flex-shrink: 0;
    position: absolute;
    z-index: 0;
  transition: 0.6s all linear;
  }
  
  .carousel-item__info {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
    display: -webkit-flex;
  -webkit-justify-content: center;
  -webkit-flex-direction: column;
  background-color: #f2dcbb;
  order: 1;
  left: 0;
  margin: auto;
  padding: 0 40px;
  width: 40%;
  
  }
  
  .carousel-item__image {
    width: 60%;
    height: 100%;
    order: 2;
    align-self: flex-end;
    flex-basis: 60%;
  
      -webkit-order: 2;
    -webkit-align-self: flex-end;
    -webkit-flex-basis: 60%;
  
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   position:relative;
  transform: translateX(100%);
  transition: 0.6s all ease-in-out;
  }
  
  .carousel-item__subtitle {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 10px;
    text-transform: uppercase;
    margin: 0;
    color: #7E7E7E;    
    font-weight: 700;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.4s all ease-in-out;
  }
  
  .carousel-item__title {
    margin: 15px 0 0 0;
    font-family: 'Playfair Display', serif;
    font-size: 44px;
    line-height: 45px;
    letter-spacing: 3px;
    font-weight: 700;
    color: #2C2C2C;
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
  }
  
  .carousel-item__description {
    transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
    margin-top: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    color: #7e7e7e;
    line-height: 22px;
    margin-bottom: 35px;
  }
  
  .carousel-item-1 .carousel-item__image{
  background-image: url('../images/carousel-7.jpeg');
  }
  
  
  .carousel-item-2 .carousel-item__image{
  background-image: url('../images/carousel-2.jpg');
  }
  
  .carousel-item-3 .carousel-item__image{
  background-image: url('../images/carousel-3.jpg');
  }
  
  .carousel-item-4 .carousel-item__image{
  background-image: url('../images/carousel-8.jpg');
  }
  
  .carousel-item-5 .carousel-item__image{
  background-image: url('../images/carousel-6.jpg');
  }
  
  
  
/*   
  .carousel-item__container{
  
  } */
  

  .carousel-item__btn {
    width: 35%;
    color: #2C2C2C;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 11px;
    text-transform: uppercase;
    margin: 0;
    width: 35%;
    font-weight: 700;
  text-decoration: none;
      transform: translateY(25%);
    opacity: 0;
    visibility: hidden;
    transition: 0.6s all ease-in-out;
  }
  
  .carousel__nav {
    position: absolute;
    right: 0;
    z-index: 2;
    background-color: rgb(148, 234, 255);
    bottom: 0;
  }
  
  .carousel__icon {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
  fill: #5d5d5d;
  }
  
  .carousel__arrow {
    cursor: pointer;
    display: inline-block;
    padding: 11px 15px;
    position: relative;
  }
  
  .carousel__arrow:nth-child(1):after {
    content:'';
    right: -3px;
    position: absolute;
    width: 1px;
    background-color: #b0b0b0;
    height: 14px;
    top: 50%;
    margin-top: -7px;
  }
  
  .active{
   z-index: 1;
  display: flex;
  visibility:visible;
  }
  
  .active .carousel-item__subtitle, .active .carousel-item__title, .active .carousel-item__description,.active .carousel-item__btn{
    transform: translateY(0);
    opacity: 1;
  transition: 0.6s all ease-in-out;
    visibility: visible;
  }
  
  
  
  .active .carousel-item__image{ 
  transition: 0.6s all ease-in-out;
  transform: translateX(0);
  }
  
  
  /* Aim Section  */
  .aim{
      margin-top: 100px;
  }
  .aim h2{
      text-align: center;
      font-size: 48px;
      color: var(--heading-color);
  }

  .aim p{
      text-align: center;
      max-width: 800px;
      margin: 20px auto;
      font-size: 18px;
      color: var(--paragraph-color)
  }

  /* Pumps Section */

.pumps{
    margin-top: 100px;
}

.pumps h2{
    text-align: center;
    font-size: 48px;
    color: var(--heading-color);
}

.pumps .container{
  display: flex;
  width: 100%;
}
.pump{
    width: 33%;
    margin-left: 20px;
}

/* Specialty */
.specialty{
    margin-top: 100px;
}
.specialty h2.heading-styling{
    /* font-size: 1.65em; */
    text-align: center;
    /* margin: 3em 0; */
    position: relative;
    /* border-top: solid 5px #25d366; */
    font-size: 48px;
    color: var(--heading-color);
 
}
.specialty p{
    text-align: center;
    max-width: 800px;
    margin: 20px auto;
    line-height: 2;
    font-size: 22px;
}
/* Cards Section */
.cards-container{
    margin-top: 100px;
    padding: 40px;
    position: relative;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1000px,1fr));
}

.cards-container .main-card{
    position: relative;
    display: flex;
    flex-direction: row;
}

.cards-container .main-card:nth-child(even){
    flex-direction: row-reverse; 
}

.main-card .imgBx{
    width: 500px;
    height: 500px;
    position: relative;
}

.main-card .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-card .content {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-card .content h4, .main-card .content p{
    padding: 20px;
    text-align: center;
}

/* Services page */
.vendors{
    margin-top: 100px;
}
.vendors .container{
    flex-direction: column;
}

.vendors h1, .vendors p{
    text-align: center;
    color: var(--heading-color);
}

.vendors ul{
    /* display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 20px;
    row-gap: 40px;
    align-items: center;
    justify-items: center; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.vendors ul li{
    flex: 0 0 calc(16.66% - 20px);
    padding: 20px;
    margin: 10px;
    filter: grayscale(100%);
}
.vendors ul li:hover{
    transform: scale(1.1) ;
    filter: grayscale(0%);
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.vendors p{
    line-height: 1.5;
    font-size: 22px;
    color: #111;
}
.vendors h2{
    color: var(--heading-color);
}

.vendors-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.vendor-card{
    width: 30%;
    height: 250px;
    margin-right: 30px;
    margin-bottom: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #62959c;
}

.vendor-card .vendor-img{
    width: 100px;
    height: 100px;
}

.vendor-card .vendor-title {
    width: 100px ;
    height: 75px;
}

.vendor-card .vendor-title img{
    width: 100%;
    height: 100%;
    padding: 10px;
}

.horizontal-line{
    margin: 10px 0px;
    width: 200px;
    height: 2px;
    background-color: #e3d0b9;
}


/* About Us*/
.about-us{
    margin: 100px auto;
    width: 100%;
}
.about-us h2{
    text-align: center;
    font-size: 48px;
    color: var(--heading-color);
}

.about-us .about-img{
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 400px;
    border-radius: 10px;
}

.about-content{
   margin: 50px 100px;
   text-align: justify;
}
.about-content .about-heading{
    margin-top: 2.5rem;
    color: var(--heading-color);
    font-size: 24px;
    font-weight: 700;

}

.about-us p{
    color :#303036;
    font-size: 20px;
    margin: 0 0 2rem 0;
}

.who-we h2{
    text-align: center;
    font-size: 48px;
    color: var(--heading-color);
}

.who-we ul{
    max-width: 700px;
    margin: 0 auto;
}
.who-we ul li{
    text-align: center;
    display: inline-block;
    margin-bottom: 10px;
    margin-left: 50px;
}
/* Applications */

.applications{
    margin-top: 100px;

}
/* Contact */
.contact-us{
    margin: 100px auto;
    width: 100%;
    height: auto;
}
.contact-us h2{
    text-align: center;
    font-size: 48px;
    color: var(--heading-color);
}
.contact-us p{
    color :#303036;
    font-size: 18px;
    margin: 0 0 2rem 0;
    text-align: center;
}

#contact-box{
    background-color: #282A30;
    color: #ccc;
    margin: 0 5px 5px 0 ;
    width: 44%;
    height: 250px;
    text-align: center;
    padding: 20px 0;
}

#contact-box:nth-child(1){
    padding-top: 40px;
}
.contact-down{
    display: flex;
    align-items: center;
}
.big-box img{
    width: 700px !important;
    height: 500px !important;
}

#contact-box ul li{
    font-size: 12px;
    color: #ccc;
}

#contact-box .contact-icon{
    width: 60px;
    height: 60px;
    margin: 10px 0 ; 
}

#contact-box h5{
    margin-bottom: 30px;
}

#contact-box i{
color: var(--heading-color) !important;
font-size: 14px !important;


}

/* Services */ 
.services{
    margin-top: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */

}
.services h2{
    text-align: center;
    font-size: 48px;
    color: var(--heading-color);
}

.services .services-p{
    color :#303036;
    font-size: 18px;
    margin: 0 0 2rem 0;
    text-align: center;
    padding: 0 50px;
}
.services-container{
    max-width: 1100px;
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 100px auto;
    /* height: 800px; */
    background: linear-gradient(#0f4675, #0f4675 50%, #fff 50%, #fff 100%);
  }
  
  .services-container .services-box{
   position: relative;
   width: 320px;
   background: #fff;
   padding: 100px 40px 60px;
   box-shadow: 0 15px 45px rgba(0,0,0,.1);
  }
  
  .services-container .services-box::before{
   content: '';
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: #F5A93F;
   transform: scaleY(0);
   transform-origin: top;
   transition: transform 0.5s;
  }
  
  .services-container .services-box:hover::before{
   transform: scaleY(1);
   transform-origin: bottom;
   transition: transform 0.5s;
  }
  
  .services-container .services-box h2{
   position: absolute;
   left: 40;
   top: 60px;
   font-size: 4em;
   font-weight: 800;
   z-index: 1;
   opacity: 0.1;
   transition: 0.5s;
  }
  
  .services-container .services-box:hover h2{
   opacity: 1;
   color: #fff;
   transform: translateY(-40px);
  }
  
  .services-container .services-box h3{
   position: relative;
   font-size: 1.5em;
   z-index: 2;
   color: #333;
   transition: 0.5s;
  }
  
  .services-container .services-box p{
   position: relative;
   z-index: 2;
   color: #555;
   transition: 0.5s;
  }
  
  .services-container .services-box:hover h3,
  .services-container .services-box:hover p{
   color: #fff;
  }

/* Footer */

footer{
    background-color: #60b4df;
    padding-bottom: 50px;
}

#about-sec, #quick-links, #service-areas{
    margin-top: 50px;
   
}
#about-sec h2, #quick-links h2, #service-areas h2{
    position: relative;
    margin-bottom: 20px;
    color: var(--footer-color);
}
#about-sec h2:before, #quick-links h2::before, #service-areas h2::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 50px;
    height: 2px;
    background: var(--bluish-color);
}

#about-sec p{
    color: var(--footer-color);
}

#about-sec ul{
    list-style: none;
}
#footer-icon a{
    color: var(--footer-color) !important;
}
#footer-icon i{
    margin-right: 10px !important;
    width: 40px;
    height: 40px;
    background-color: var(--bluish-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-icon i:hover{
    background-color: var(--footer-color);
    color: var(--bluish-color);
}

#quick-links ul{
    list-style: none;
}
#quick-links ul li a ,#service-areas ul li a{
    color: var(--footer-color);
}
/* .specialty h2.heading-styling span {
    top: -0.775em;
    padding: 0 1.5em 0 1.5em;
    background: #fff;
    position: relative;
    display: inline-block;
  } */
  /* What's Up */
  .whats-up .floatBtn{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}



  /* Key Frames */
  .fade-in {
      opacity: 1;
      animation-name: fadeInOpacity;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: 1s;
  }
  
  
  @keyframes fadeInOpacity {
      0% {
          opacity: 0;
      }
      100% {
          opacity: 1;
      }
  }

  .hidden {
    display: none;
}
  #loader {
    
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 300px;
    left: 500px;
  }
  /* rotation of loader */
  @keyframes spin {
    0% { 
        transform: rotate(0deg);
     }
    100% {
         transform: rotate(360deg); 
        }
  }
  /* https://www.starpumpalliance.com/water-treatment-pumps?utm_source=google_search&utm_medium=cpc&utm_campaign=SN_Branchen_Global_EN&utm_adgroup=Water_treatment&utm_term=treatments%20of%20water&utm_content=488139124036&utm_placement=g__c&gclid=CjwKCAiAxp-ABhALEiwAXm6IyaFXe9wSd6oRaQMtRor5_2t7ioBal0GdJN_jf7bhrpqCItoTrnj9SBoCBT8QAvD_BwE */

  
@media (max-width: 920px){
    .hamburger-menu-container{
        display: flex;
    }

    #check{
        display: block;
    }

    .nav-btn{
        position: fixed;
        height: calc(100vh - 3rem);
        top: 3rem;
        left: 0;
        width: 100%;
        background-color: #69bde7;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        overflow-x: hidden;
        overflow-y: auto;
        transform: translateX(100%);
        transition: .65s;
    }

    #check:checked ~ .nav-btn{
        transform: translateX(0);
    }

    #check:checked ~ .nav-btn .nav-link,
    #check:checked ~ .nav-btn .log-sign{
        animation: animation .5s ease forwards var(--i);
    }

    .nav-links{
        flex: initial;
        width: 100%;
    }

    .nav-links > ul{
        flex-direction: column;
    }

    .nav-link{
        width: 100%;
        opacity: 0;
        transform: translateY(15px);
    }

    .nav-link > a{
        line-height: 1;
        padding: 1.6rem 2rem;
    }

    .nav-link:hover > a{
        transform: scale(1);
        background-color: #50a9d6;
    }

    .dropdown, .dropdown.second{
        position: initial;
        top: initial;
        left: initial;
        transform: initial;
        opacity: 1;
        pointer-events: auto;
        width: 100%;
        padding: 0;
        background-color: #3183ac;
        display: none;
    }
    
    .nav-link:hover > .dropdown,
    .dropdown-link:hover > .dropdown{
        display: block;
    }

    .nav-link:hover > a > i,
    .dropdown-link:hover > a > i{
        transform: rotate(360deg);
    }

    .dropdown-link > a{
        background-color: transparent;
        color: #fff;
        padding: 1.2rem 2rem;
        line-height: 1;
    }

    .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 3rem;
    }

    .dropdown.second .dropdown.second .dropdown-link > a{
        padding: 1.2rem 2rem 1.2rem 4rem;
    }

    .dropdown-link:not(:nth-last-child(2)){
        border-bottom: none;
    }

    .arrow{
        z-index: 1;
        background-color: #69bde7;
        left: 10%;
        transform: scale(1.1) rotate(45deg);
        transition: .5s;
    }

    .nav-link:hover .arrow{
        background-color: #50a9d6;
    }

    .dropdown .dropdown .arrow{
        display: none;
    }

    .dropdown-link:hover > a{
        background-color: #3a91bd;
    }

    .dropdown-link:first-child:hover ~ .arrow{
        background-color: #50a9d6;
    }

    .nav-link > a > i{
        font-size: 1.1rem;
        transform: rotate(-90deg);
        transition: .7s;
    }

    .dropdown i{
        font-size: 1rem;
        transition: .7s;
    }
/* 
    .log-sign{
        flex: initial;
        width: 100%;
        padding: 1.5rem 1.9rem;
        justify-content: flex-start;
        opacity: 0;
        transform: translateY(15px);
    } */
    .cards-container{
        max-width: 500px;
        grid-template-columns: 1fr;
    }
    .cards-container .main-card{
        position: relative;
        display: flex;
        flex-direction: column !important;
    }
    
    /* .cards-container .card:nth-child(even){
        flex-direction: column-reverse; 
    } */

    
    .main-card .imgBx{
        width: 500px;
        height: 500px;
        position: relative;
}

    .main-card .imgBx img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.main-card .content {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
}
